# Pioneer user email address
# Copy this file to terraform.tfvars and update the email address
pioneer_email = "pioneer@example.com"

# Static Production account email address
static_prod_account_email = "static-prod@example.com"

# Static Staging account email address
static_stg_account_email = "static-stg@example.com"
